<p>Time progress - <%= current_user.time_progress_percentage %>%</p>
<p>Spend progress - <%= current_user.spend_progress_percentage(current_user) %>%</p>
<p><%= current_user.spend_ratio_feedback(current_user) %>