<h1>Add a Savings goal</h1>
<h2>This can be thought of as an expense, except you'll still have the money at the end of the month</h2>
<h2>By taking away savings target from your day to day spending, you'll have a more accurate daily budget</h2>

<%= render 'saving_form' %>