<h1>Add a Savings goal</h1>
<p>This is how much money you would like left at the end of the month</p>
<p>By taking away the savings target at the start, you'll have a more accurate daily budget</p>

<%= render 'saving_form' %>