<nav>
	<ul class = "nav navbar-nav">
		<li><%= link_to "Getting Started", getting_started_path %></li>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "@captainkinnard", "http://www.twitter.com/captainkinnard", target: "_blank" %></li>
	</ul>
</nav>