<p>How to use MySpendingPal:</p>
<ol>
	<% if logged_in? %>
		<li>Put in your <%= link_to 'monthly incomings and outgoings', user_monthly_entries_path(current_user) %> (e.g. income, rent, bills, saving goals for any leftover money)</li>
		<li>Put in your <%= link_to 'daily spending', current_user %>, and see your evolving daily budget to hit your targets</li>
		<li>Reach payday without running out of money!</li>
	<% else %>
		<li><%= link_to 'Sign up', signup_path(@user)%></li>
		<li>Put in your monthly incomings and outgoings (e.g. income, rent, bills, saving goals for any leftover money)</li>
		<li>Put in your daily spending, and see your evolving daily budget to hit your targets</li>
		<li>Reach payday without running out of money!</li>
	<% end %>
</ol>