<p>How to use MySpendingPal:</p>
<ol>
	<li><%= link_to 'Sign up', signup_path(@user)%></li>
	<li>Put in your monthly incomings and outgoings (e.g. income, rent, bills, saving goals for any leftover money)</li>
	<li>Put in your daily spending, and see your evolving daily budget to hit your targets</li>
	<li>Reach payday without going broke first!</li>
</ol>