<h2>Story time folks...</h2>

<p>Its the 20th November 2017, and I realise that if I'm not going to be overdrawn this month, I can't spend more than £50 for the rest of the month</p>
<p>That's £5 a day on food, drink, fun, and things you don't even think of - e.g. had already agreed to host friend for Thanksgiving and I had to buy a turkey</p>
<p>So i did what I've done a few times before, and started logging everything down in excel, except it sucks</p>

<p>I want to know average spend, which categories I'm spending the most on, and if at the current rate I will run out of money before payday...</p>
<p>So feeling inspired by other companies <%= link_to "that started their life as excel spreadsheets", 'https://levels.io/product-hunt-hacker-news-number-one/'%> I wanted to make something myself.</p>
<p>and hence MySpendingPal was born, so others in a similar predicament, could have something help them to financial safety</p>