<h1>Get in touch</h1>

<h2>Any feedback is good feedback, so let me know:</h2>
<ul>
	<li>Twitter: <%= link_to "@captainkinnard", "http://www.twitter.com/captainkinnard", target: "_blank" %></li>
	<li>Email: benjamin.kinnard1@gmail.com</li>
	<li>Phone: +447761 363123</li>
</ul>