<h1>MySpendingPal</h1>

<h4>Track your spending with MySpendingPal so you won’t run out of money before the end of the month</h4>

<% if logged_in? && new_user? %>
<%= render 'getting_started' %>
<hr>
<% end %>
<p>We'll help you set a daily budget, and make sure you won't go over it before payday</p>

<ul>
	<li>Automatically have your daily budget calculated for you</li>
	<li>Put expenses in before they occur</li>
	<li>Set a savings goal</li>
	<li>We don't need or care about your bank details</li>
	<li>You'll remember your spending more if you enter it yourself - <i>you are what you measure</i></li>
</ul>

<%= image_tag "money-shoots.jpg", class: 'homepage-image center-image' %>
