<h1>MySpendingPal</h1>

<h3>Count your cash as closely as your calories!</h3>

<p>Keep having less money than you want at the end of the month?</p>
<p>We'll help you set a daily budget, and make sure you won't be overbudget before payday</p>

<ul>
	<li>Automatically have your daily budget calculated for you</li>
	<li>Put expenses in before they occur</li>
	<li>Set a savings goal</li>
	<li>We don't need or care about your bank details</li>
	<li>You'll remember your spending more if you enter it yourself - <i>you are what you measure</i></li>
</ul>