@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.logo-header {
  height: 100px;
  width: 142px;
}

body {

  background: #f2fcfe;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f2fcfe, #7EC0EE);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f2fcfe, #7EC0EE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Work Sans', sans-serif;
  margin-left: 10px;

}

.main-page-content {
  padding-top: 115px;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.center-text {
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 300px;
  margin-bottom: 15px;
  @include box_sizing;
}

.form-control {
  width: 40%;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* buttons */
button:hover {
  position: relative;
  top: -1px;
}


/* tables */

table {
    font-family: 'Work Sans', sans-serif;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2fcfe;
}

/* lists */
.daily-spend-by-date {
  margin-bottom: 5px;
  margin-top: 25px;
}

li {
  margin-bottom: 5px;
}

