@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

html {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito', sans-serif;
  color: #444444;
  margin: 0;
}

body {
  background: #7EC0EE;
  height: 100%;
  
}

.main-page-content {
  margin-left: 8px;
  margin-right: 8px;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
}

p {
  font-size: 18px;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 300px;
  margin-bottom: 15px;
  @include box_sizing;
  max-width: 100%;
}

.form-control {
  width: 40%;
}

input {
  height: auto !important;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* buttons */
button:hover {
  position: relative;
  top: -1px;
}


/* tables */

table {
    border-collapse: collapse;
    justify-content: left;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

tr {
  flex-wrap: wrap;
}

td, th {
    text-align: left;
    padding: 8px;
}

.cell-centre {
  text-align: center;
}

th {
  background-color: #15659d;
  color: white;
}

tr:nth-child(odd) {
    background-color: #abd6f4;
}

tr:nth-child(even) {
    background-color: #d8ecfa;
}

/* lists */
.daily-spend-by-date {
  margin-bottom: 5px;
  margin-top: 5px;
}

/* images */
img {
  max-width: 100%;
}

.logo-header {
  height: 24px;
  width: 140px;
}

/* header bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.navbar-toggle {
  background-color: #7EC0EE;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  clear: both;
}

.italic {
  font-style: italic;
}

.tagline {
    max-width: 100%;
}

.money-shoots {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  width: 650px;
  height: 400px;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), asset-data-url("money-shoots.jpg");
  position: relative;
}


@media screen and (max-width: 480px) {
    body {
      display: block
    }

    table {
    max-width: 100%;
    }
    .money-shoots {
    width: 100%;
    }
}