@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.logo-header {
  height: 100px;
  width: 142px;
}

.homepage-image {
  height: 50%;
  width: 50%;
  opacity: 0.5;
  box-shadow: 8px 8px 10px #aaa;
  border-radius: 2%;  // partially rounded corners
  margin: 10px;
}

.homepage-screenshot {
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;  
  height: 70%;
  width: 70%;
  border: 1px solid;
}

.getting-started {
  height: 50%;
  width: 50%;
  border: 1px solid;
  margin-bottom: 20px;
}

.green-day{
  list-style-position: inside;
  border: 2px solid green;
  margin-bottom: 10px;
  padding: 10px;
}

.red-day{
  list-style-position: inside;
  border: 2px solid red;
  margin-bottom: 10px;
  padding: 10px;
}

.future-day {
  list-style-position: inside;
  margin-bottom: 10px;
}

body {
  background: #7EC0EE;
  font-family: 'Raleway', 'Work Sans', sans-serif;
  margin-left: 10px;

}

.main-page-content {
  padding-top: 115px;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 300px;
  margin-bottom: 15px;
  @include box_sizing;
  max-width: 100%;
}

.form-control {
  width: 40%;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* buttons */
button:hover {
  position: relative;
  top: -1px;
}


/* tables */

table {
    font-family: 'Work Sans', sans-serif;
    border-collapse: collapse;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

td, th {
    text-align: left;
    padding: 8px;
}

.cell-centre {
  text-align: center;
}

th {
  background-color: #15659d;
  color: white;
}

tr:nth-child(odd) {
    background-color: #abd6f4;
}

tr:nth-child(even) {
    background-color: #d8ecfa;
}

/* lists */
.daily-spend-by-date {
  margin-bottom: 5px;
  margin-top: 5px;
}

li {
  margin-bottom: 5px;
}

ul {
  width: 80%;
}

/* images */
img {
  max-width: 100%;
}


@media screen and (max-width: 500px) {
/* applies only if the screen is narrower than 500px */
  td, th {
    padding: 2px;
  }
  ul {
   width: 100%;
}
}

